<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    android:compileSdkVersion="34"
	package="com.example.theseus.dynandref">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="34"/>
    <!--uses-permission android:name="android.permission.WRITE_CONTACTS"/-->

    <application
        android:supportsRtl="true"
            android:label="DynAndRef">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClassLoaderContextActivity"/>
        <activity android:name=".DelegateLastClassLoaderActivity"/>
        <activity android:name=".DexClassLoaderActivity"/>
        <activity android:name=".InMemoryDexClassLoaderActivity"/>
	<activity android:name=".PathClassLoaderActivity"/>
        <activity android:name=".NoCollisionWithParentDelegateLastClassLoaderActivity"/>
        <activity android:name=".NoCollisionWithParentDexClassLoaderActivity"/>
        <activity android:name=".NoCollisionWithParentInMemoryDexClassLoaderActivity"/>
        <activity android:name=".NoCollisionWithParentPathClassLoaderActivity"/>
        <activity android:name=".NoCollisionWithoutParentDelegateLastClassLoaderActivity"/>
        <activity android:name=".NoCollisionWithoutParentDexClassLoaderActivity"/>
        <activity android:name=".NoCollisionWithoutParentInMemoryDexClassLoaderActivity"/>
        <activity android:name=".NoCollisionWithoutParentPathClassLoaderActivity"/>
        <activity android:name=".CollisionWithParentDelegateLastClassLoaderActivity"/>
        <activity android:name=".CollisionWithParentDexClassLoaderActivity"/>
        <activity android:name=".CollisionWithParentInMemoryDexClassLoaderActivity"/>
        <activity android:name=".CollisionWithParentPathClassLoaderActivity"/>
        <activity android:name=".CollisionWithoutParentDelegateLastClassLoaderActivity"/>
        <activity android:name=".CollisionWithoutParentDexClassLoaderActivity"/>
        <activity android:name=".CollisionWithoutParentInMemoryDexClassLoaderActivity"/>
	<activity android:name=".CollisionWithoutParentPathClassLoaderActivity"/>
	<!-- singleTop allow to send several intent to the same activity -->
        <activity android:name=".MethodActivity" android:exported="true" android:launchMode="singleTop"/>
    </application>

</manifest>
